{% extends "bootstrap/base.html" %}


{% block navbar %}
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
    padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #12b4ea;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/display">Cities</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

{% endblock %}
